* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #f0f2f5;
}

.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
img {
  object-fit: cover;
}
.form-group input {
  font-size: 1.2rem;
  background-color: #eee;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.25s ease-in-out;
}
.form-group input:hover {
  background-color: #fff;
  border-color: rgba(252, 214, 0, 0.87);
}

.form-group input:focus {
  background-color: #fff;
  border-color: #f9cb00;
  box-shadow: rgba(190, 172, 111, 0.6) 0px 0px 16px;
}

.btn {
  border-radius: 50px;
}

@import url('./style/auth.css');

@import url('./style/loading.css');

@import url('./style/header.css');

@import url('./style/avatar.css');

@import url('./style/header.css');

@import url('./style/sidebar-left.css');

@import url('./style/profile.css');

@import url('./style/ads.css');

@import url('./style/home.css');

@import url('./style/status-modal.css');

@import url('./style/comments.css');

@import url('./style/post-thumb.css');

@import url('./style/message.css');
