* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Segoe UI';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
#theme {
  display: none;
}

.App {
  width: 100%;
  min-height: 100vh;
  background: #f0f2f5;
}

.main {
  max-width: 1000px;
  width: 100%;
  min-height: 100vh;
  margin: auto;
}
img {
  object-fit: cover;
}
.form-group input {
  font-size: 1.6rem;
  background-color: #eee;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
  border: 2px solid transparent;
  transition: all 0.25s ease-in-out;
}
.form-group input:hover {
  background-color: #fff;
  border-color: rgba(240, 128, 128, 0.8);
}

.form-group input:focus {
  background-color: #fff;
  border-color: lightcoral;
  box-shadow: rgba(240, 128, 128, 0.6) 0px 0px 16px;
}

@import url('./css/auth.css');

@import url('./css/loading.css');

@import url('./css/header.css');

@import url('./css/avatar.css');

@import url('./css/header.css');

@import url('./css/side_bar.css');

@import url('./css/profile.css');

@import url('./css/ads.css');

@import url('./css/home.css');

@import url('./css/status_modal.css');

@import url('./css/comments.css');

@import url('./css/post_thumb.css');
