.header {
  width: auto;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  text-align: center;
  justify-content: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), -1px -1px 10px rgba(0, 0, 0, 0.1);
}

.header .logo img {
  width: 45px;
  margin-right: 2px;
}

.header .header-title {
  margin: 1px 12px 1px 5px;
  font-size: 18px;
  width: 120px;
  height: 100%;
  color: #002f77;
  font-weight: 650;
}

.header .logo-search {
  display: flex;
}
/* ----------- Header Menu ---------- */
.header .menu-middle {
  margin-right: -345px;
}

.header .menu .material-icons {
  font-size: 29px;
}
.header .menu .dropdown-menu {
  position: absolute;
  left: inherit;
  right: 0;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1), -1px -1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
.header .menu label {
  cursor: pointer;
}
.header .menu .notify_length {
  position: absolute;

  display: block;
  font-size: 14px;
  min-width: 20px;
  min-height: 18px;
  text-align: center;
  line-height: 18px;
  background-color: #f02849;
  border-radius: 20px;
  color: #fff;
  top: 4px;
  right: 56px;
}

/* ---------- Header Search -------- */
.header .search_form {
  position: relative;
  width: 395px;
  margin-right: -26px;
}
.header .search_form #search {
  background: #f0f2f5;
  border: 0.5px solid #f0f2f5;
  min-width: 255px;
  width: 70%;
  height: 40px;
  outline: none;
  text-indent: 5px;
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 62px;
}
.header .search_form .search_icon {
  position: absolute;
  margin-left: 222px;
  margin-top: -21px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  pointer-events: none;
  width: 228px;
}
.header .search_form .search_icon .material-icons {
  font-size: 14px;
  transform: translateY(3px);
}
.header .search_form .close_search {
  position: absolute;
  top: 7px;
  right: 42px;
  cursor: pointer;
  font-weight: 900;
  color: rgb(155, 155, 155);
}
.header .search_form .users {
  position: absolute;
  width: 70%;
  min-width: 219px;
  background: #ffffff;
  max-height: calc(100vh - 150px);
  overflow: auto;
  margin-top: 1px;
  border-radius: 10px;
  box-shadow: 0 0 4px #ddd;
  margin-left: 91px;
}
.header .search_form .loading {
  position: absolute;
  top: 50%;
  right: 42px;
  width: 15px;
  height: 15px;
  transform: translateY(-50%);
}

.header .headerLeft {
  display: flex;
  align-items: center;
}

/* Header middle */
.header-menu-middle {
  display: flex;
  align-items: center;
  list-style: none;
  width: 600px;
  justify-content: space-around;
  padding: 0;
  margin: 0 100px 0 0;
  color: #002f77;
}
.menu-middle-item_bell {
  color: #b0b3b8;
  font-size: 30px;
  line-height: 0;
  width: 100%;

  padding: 8px 0;
  border-radius: 4px;
  position: relative;
}

.menu-middle-item {
  color: #b0b3b8;
  font-size: 30px;
  line-height: 0;
  width: 100%;
  padding: 8px 0;
  margin: 0 5px;
  border-radius: 10px;
  position: relative;
  background-color: #f0f2f5;
}

.menu-middle-item:hover {
  background-color: #3a3b3c;
  cursor: pointer;
}

.menu-middle-item_active {
  color: #f9cb00;
}

.menu-middle-item_active::before {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #f9cb00;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.menu-middle-item:hover {
  background-color: #f9cb00;
}

.menu-middle-item_badge {
  position: absolute;
  display: block;
  font-size: 14px;
  min-width: 18px;
  min-height: 18px;
  text-align: center;
  line-height: 18px;
  background-color: #f02849;
  border-radius: 20px;
  color: #fff;
  top: 2px;
  right: 44px;
}
