.sidebar {
  position: sticky;
  top: 57px; /*56px header + 1px header border bottom*/
  height: calc(100vh - 56px);
  overflow-y: scroll;
  background-color: #ffffff;
  border-top-right-radius: 10px;
  box-shadow: 0 0 4px #ddd;
  padding: 0 10px;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
  display: none;
}

.sidebar:hover::-webkit-scrollbar {
  display: block;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(109, 109, 109, 0.576);
  border-radius: 8px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #acacac06;
}

.sidebar_List {
  list-style: none;
  padding: 0;
}

.sidebar_item {
  padding: 8px 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.sidebar_item span {
  font-size: 17px;
  color: #000;
  margin-left: 8px;
}

.sidebar_item_link {
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.sidebar_item_link:hover,
.sidebar_item:hover,
.shortcuts:hover {
  background-color: var(--orange);
  cursor: pointer;
  transition: all 0.25s;
}

.sidebar_item_text {
  display: contents;
  flex-direction: column;
  margin-left: 8px;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}

.sidebar_item_icon {
  font-size: 35px;
  color: #002f77;
}

.sidebar_ads {
  margin-top: 16px;
}

.sidebar_ads_title {
  color: #9a9ca1;
  font-size: 16px;
  font-weight: 500;
  padding: 0 11px;
}

.sidebar_ads_item-img {
  width: 102px;
  height: 102px;
  border-radius: 5px;
  object-fit: cover;
}

.sidebar_ads_list {
  padding: 0;
  list-style: none;
  margin-top: 2px;
}

.sidebar_ads_item {
  padding: 8px 12px;
  border-radius: 8px;
}

.sidebar_ads_item a {
  display: flex;
  align-items: center;
}

.sidebar_ads_item:hover {
  cursor: pointer;
  background-color: var(--orange);
}

.sidebar_ads_item-content {
  margin-left: 10px;
}

.sidebar_ads_item-header {
  color: black;
  font-size: 16px;
  font-weight: 500;
}
